<div class="wrapper">
	<div class="sidebar">
		<div id="widget" class="sticky">
		</div>
	</div>
	<div id="article">
		<div class="row">
			<%= search_form @search, url: search_path do |f|%>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
					<div class="row"></div>
			<% end %>
		</div>
	</div>
</div>